body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f1f2f6;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row p {
  margin: 10px 30px;
}

button {
  padding: 20px 30px;
  margin: 10px;
  font-size: 2rem;
  background-color: #27ae60;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2ecc71;
  transition: all 0.1s;
}

button:active {
  background-color: #27ae60;
}
